body { font-family: 'Roboto', sans-serif; color: #373737; } 
b, strong { font-weight: 500; } 
a { color: #00b4b3; } 
a:hover { color: #00b4b3 !important; text-decoration: none; opacity: 0.9; } 
a.disabled { pointer-events: none; user-select: none; opacity: 0.5; } 
.opacity-30 { opacity: 0.3; } 

/* Spacing */
.col-align-center { margin: 0 auto !important; } 
.gutters-3 { margin-right: -2.5px; margin-left: -2.5px } 
.gutters-3 > .col, .gutters-3 > [class*=col-] { padding-right: 2.5px; padding-left: 2.5px } 
.gutters-5 { margin-right: -5px !important; margin-left: -5px !important } 
.gutters-5 > .col, .gutters-5 > [class*=col-] { padding-right: 5px; padding-left: 5px } 
.gutters-10 { margin-right: -10px !important; margin-left: -10px !important; } 
.gutters-10 > .col, .gutters-10 > [class*=col-] { padding-right: 10px; padding-left: 10px } 
.gutters-20 { margin-right: -20px; margin-left: -20px } 
.gutters-20 > .col, .gutters-20 > [class*=col-] { padding-right: 20px; padding-left: 20px } 
.gutters-25 { margin-right: -25px; margin-left: -25px } 
.gutters-25 > .col, .gutters-25 > [class*=col-] { padding-right: 25px; padding-left: 25px } 


/* forms style */
.form-control { height: calc(3rem + 2px); border-radius: 4px; letter-spacing: 0.025rem; font-size: 1.15rem; } 
.form-control:focus { border-color: #00b4b3; box-shadow: 0 0 0 0.2rem rgba(0,180,178,.25); } 
.form-control.disabled, .form-control:disabled { opacity: 0.5; cursor: not-allowed; } 

/* Buttons */
.btn { padding: 0.475rem 1.15rem 0.375rem; border-radius: 0; font-weight: 500; font-size: 0.9rem; letter-spacing: 1px; border-radius: 4px; } 
.btn.disabled, .btn:disabled { opacity: 0.5; cursor: not-allowed; } 
.btn:hover { opacity: 0.95; } 
.btn.focus, .btn:focus { box-shadow: none !important; } 

.btn-md { padding: 0.45rem 1.15rem !important; font-size: 0.9rem; } 
.btn-sm { padding: .25rem .65rem !important; font-size: 0.75rem; } 

.btn-primary { color: #ffffff !important; background-color: #00b4b3; border-color: #00b4b3 } 
.btn-primary:hover { color: #ffffff !important; background-color: #00b4b3; border-color: #00b4b3 } 
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle { color: #ffffff !important; background-color: #00b4b3; border-color: #00b4b3 } 
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus { box-shadow: none; color: #ffffff !important; } 
.btn-primary.disabled, .btn-primary:disabled { color: #fff; background-color: #00b4b3; border-color: #00b4b3; opacity: 0.5; } 

.btn-outline-primary { color: #00b4b3; border-color: #00b4b3; } 
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active { color: #fff; background-color: #00b4b3; border-color: #00b4b3; } 

/* media quries for common style */
@media (max-width: 575.98px){
 .btn { font-size: 0.8rem; } 
 }

 /* #=#=# Animations #=#=# */
@-webkit-keyframes heroEffect { 
 0% { opacity: 0.35; } 
 100% { opacity: 1; } 
 }
 
 @keyframes heroEffect { 
 0% { opacity: 0.35; } 
 100% { opacity: 1; } 
 }